//for font-size
.font-xs {
    font-size: 12px;
}

.font-sm {
    font-size: 14px;
}

.font-md {
    font-size: 16px;
}

.font-lg {
    font-size: 18px;
}

.font-xl {
    font-size: 20px;
}

// Font-Weight
.font-weight-medium{
    font-weight: 500;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-600{
    font-weight: 600;
}

// Custom Padding
.p-bottom-30{
    padding-bottom: 30px;
    @include media-breakpoint-down(sm) {
        padding-bottom: 16px;
    }
}
