// Colors

// gray-100 used in placeholder of search
 $gray-100:#b7bec6;
$gray-200:#b9b9b9;
$table-accent-bg:#f9fbfe;
$primary-medium:#63b4ff;

// Theme colors
$primary:   #2697ff;
$dark-blue:#0d4487;
$light-blue:#26e5ff;
$secondary: #fafafb;
$warning:#ffa113;
$yellow: #ffcf26;
$danger:   #ff4343;
$info:#19e9aa;
$dark:#0c2133;
$light: #6a7a89;

// Light
 $primary-light:rgba($primary, 0.12);
$warning-light:rgba($warning, 0.12);
$dark-blue-light:rgba($dark-blue, 0.12);


// Theme Map
$theme-colors: ();
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
    "warning":$warning,
    "yellow":$yellow,
    "dark":$dark,
    "dark-blue":$dark-blue,
    "info":$info,
    "light":$light,
    "gray-200": $gray-200,
    "light-blue":$light-blue,
    "primary-light":$primary-light,
    "warning-light":$warning-light,
    "dark-blue-light":$dark-blue-light,
);

